dj-database-url==0.3.0
dj-static==0.0.6
Django==1.10
psycopg2==2.6.1
static3==0.7.0
whitenoise==3.2
gunicorn==19.7.1
requests==2.18.4
PyDictionary==1.5.2
chatterbot==0.7.6
googletrans==2.2.0
wikipedia==1.4.0